.tweetsContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.backBtn {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  width: 80px;
  height: 30px;
  background: #5cd3a8;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  font-weight: 300;
  font-size: 12px;
  color: rgb(87 54 163);
}

.backBtn:hover {
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
}

.followBtnActive:hover {
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
}

.tweetsList {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loadMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 196px;
  height: 50px;
  margin: 0 auto;
  background: rgb(87 54 163);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.loadMoreBtn:hover {
  background: rgb(108, 71, 193);
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
}
